.main {
  height: 231px;
  margin-top: 80px;
  text-align: center;
}

.main img {
  padding-top: 112px;
  margin: 0 auto;
}

.main form {
  width: 100%;
  margin: 0 230.5px;
}

.main form input {
  width: 269px;
}
